<div class="page-padding">
  <div class="container-large">
    <div class="nav-wrapper">
      <div class="menu-button-wrapper">
        <div data-w-id="582a0a3e-3849-ea1b-e8d1-a87a20433e5f" class="menu-button w-nav-button">
          <div data-w-id="5808d990-6c68-0777-0ee3-b444da5b059d" data-animation-type="lottie" data-src="https://cdn.shopify.com/s/files/1/0062/3981/3716/files/lottieflow-menu-nav-06-372c23-easey.json?v=1649160105" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="2.36" data-duration="0" data-ix2-initial-state="0" class="hamburger-lottie-brown"></div>
          <div data-w-id="94d021d1-9076-45e9-86b5-77343bfecde7" data-animation-type="lottie" data-src="https://cdn.shopify.com/s/files/1/0062/3981/3716/files/menu-nav-06-ffffff-easey.json?v=1649160105" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="2.36" data-duration="0" data-ix2-initial-state="0" class="hamburger-lottie-white"></div>
        </div>
      </div>
      <a href="{{ shop.url }}" aria-current="page" class="brand show-tablet w-nav-brand w--current">
        <div class="logo-big-wrapper">
          <div class="big-mark-wrapper"><img src="{{section.settings.logo_image}}" loading="lazy" option:image="FFC-main-logo-desktop" width="98" alt="" class="logo-brand"></div>
        </div>
        <div class="mascot-wrapper"><img src="{{section.settings.logo2_image}}" loading="lazy" alt="" class="img-full-width"></div>
      </a>
      <nav role="navigation" menu="navigation-bar-menu" class="nav-menu w-nav-menu">
        <div class="nav-link-wrapper shop">
          {% for link in linklists.header-menu-left.links %}
         	 <a href="{{ link.url }}" class="nav-link shop">{{ link.title }}</a>
           {% endfor %}
        </div>
        <a href="{{ shop.url }}" aria-current="page" class="brand hide-tablet hide-mobile w-nav-brand w--current">
          <div class="logo-big-wrapper">
            <div class="big-mark-wrapper"><img src="{{section.settings.logo_image}}" loading="lazy" option:image="FFC-main-logo-desktop" width="98" alt="" class="logo-brand"></div>
          </div>
          <div class="mascot-wrapper"><img src="{{section.settings.logo2_image}}" loading="lazy" id="fatman" alt="" class="img-full-width fit-contain"></div>
        </a>
        <div class="nav-link-wrapper">
          {% for link in linklists.header-menu-right.links %}
          <a href="{{ link.url }}" option:url="nav-url-explore" class="nav-link">{{ link.title }}</a>
          {% endfor %}
          <!--   Currency switcher     -->
          <div class="phone-currency">
            {% form 'currency' %}
            <select name="currency" class="currency-switcher">
              {% for currency in shop.enabled_currencies %}
              {% if currency == cart.currency %}
              <option selected="true">{{currency.iso_code}}</option>
              {% else %}
              <option>{{currency.iso_code}}</option>
              {% endif %}
              {% endfor %}
            </select>
            {% endform %}
            <!--   END - Currency switcher     -->
          </div>
        </div>
        
      </nav>
      <div class="cart-wrapper">
        <div data-node-type="commerce-cart-wrapper" bind="582a0a3e-3849-ea1b-e8d1-a87a20433e71" data-open-product="" data-wf-cart-type="modal" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper">
          <a href="/cart" data-node-type="commerce-cart-open-link" bind="582a0a3e-3849-ea1b-e8d1-a87a20433e72" id="cart-icon-bubble" class="w-commerce-commercecartopenlink cart-button w-inline-block">
<!--             <img src="https://cdn.shopify.com/s/files/1/0062/3981/3716/files/shopping-cart-white.svg?v=1649081272" loading="lazy" alt="" class="cart-icon-white"> -->
            <img src="https://cdn.shopify.com/s/files/1/0062/3981/3716/files/shopping-cart-icon_d841bf76-c935-4aed-ad75-fe3a13bcd327.svg?v=1649163025" loading="lazy" alt="" class="cartpage-cart-icon">
            <div bind="582a0a3e-3849-ea1b-e8d1-a87a20433e74" class="w-commerce-commercecartopenlinkcount cart-quantity">{{cart.item_count}}</div>
          </a>
          <div data-node-type="commerce-cart-container-wrapper" bind="582a0a3e-3849-ea1b-e8d1-a87a20433e75" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-modal">
            <div data-node-type="commerce-cart-container" bind="582a0a3e-3849-ea1b-e8d1-a87a20433e76" class="w-commerce-commercecartcontainer">
              <div bind="582a0a3e-3849-ea1b-e8d1-a87a20433e77" class="w-commerce-commercecartheader">
                <h4 liquid:object="product.metafields.accentuate.cartheading" bind="582a0a3e-3849-ea1b-e8d1-a87a20433e78" class="w-commerce-commercecartheading">Your Cart</h4>
                <a href="#" data-node-type="commerce-cart-close-link" bind="582a0a3e-3849-ea1b-e8d1-a87a20433e7a" class="w-commerce-commercecartcloselink w-inline-block"><svg html:attribute="src|{{ product.metafields.accentuate.closeicon }};alt|{{ product.metafields.accentuate.closeiconalt }}" width="16px" height="16px" viewbox="0 0 16 16">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g fill-rule="nonzero" fill="#333333">
                      <polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon>
                    </g>
                  </g>
                  </svg>
                </a>
              </div>
              <div bind="582a0a3e-3849-ea1b-e8d1-a87a20433e7c" class="w-commerce-commercecartformwrapper">
                <form data-node-type="commerce-cart-form" bind="582a0a3e-3849-ea1b-e8d1-a87a20433e7d" style="display:none" class="w-commerce-commercecartform">
                  <script type="text/x-wf-template" id="wf-template-582a0a3e-3849-ea1b-e8d1-a87a20433e7e"></script>
                  <div template-bind="582a0a3e-3849-ea1b-e8d1-a87a20433e7e" bind="582a0a3e-3849-ea1b-e8d1-a87a20433e7e" class="w-commerce-commercecartlist" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-582a0a3e-3849-ea1b-e8d1-a87a20433e7e"></div>
                  <div bind="582a0a3e-3849-ea1b-e8d1-a87a20433e8e" class="w-commerce-commercecartfooter">
                    <div bind="582a0a3e-3849-ea1b-e8d1-a87a20433e8f" class="w-commerce-commercecartlineitem">
                      <div>Subtotal</div>
                      <div bind="582a0a3e-3849-ea1b-e8d1-a87a20433e92" class="w-commerce-commercecartordervalue"></div>
                    </div>
                    <div bind="582a0a3e-3849-ea1b-e8d1-a87a20433e93">
                      <div bind="582a0a3e-3849-ea1b-e8d1-a87a20433e94" data-node-type="commerce-cart-quick-checkout-actions">
                        <a data-node-type="commerce-cart-apple-pay-button" style="background-image:-webkit-named-image(apple-pay-logo-white);background-size:100% 50%;background-position:50% 50%;background-repeat:no-repeat" class="w-commerce-commercecartapplepaybutton">
                          <div></div>
                        </a>
                        <a data-node-type="commerce-cart-quick-checkout-button" style="display:none" class="w-commerce-commercecartquickcheckoutbutton"><svg class="w-commerce-commercequickcheckoutgoogleicon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewbox="0 0 16 16">
                          <defs>
                            <polygon id="google-mark-a" points="0 .329 3.494 .329 3.494 7.649 0 7.649"></polygon>
                            <polygon id="google-mark-c" points=".894 0 13.169 0 13.169 6.443 .894 6.443"></polygon>
                          </defs>
                          <g fill="none" fill-rule="evenodd">
                            <path fill="#4285F4" d="M10.5967,12.0469 L10.5967,14.0649 L13.1167,14.0649 C14.6047,12.6759 15.4577,10.6209 15.4577,8.1779 C15.4577,7.6339 15.4137,7.0889 15.3257,6.5559 L7.8887,6.5559 L7.8887,9.6329 L12.1507,9.6329 C11.9767,10.6119 11.4147,11.4899 10.5967,12.0469"></path>
                            <path fill="#34A853" d="M7.8887,16 C10.0137,16 11.8107,15.289 13.1147,14.067 C13.1147,14.066 13.1157,14.065 13.1167,14.064 L10.5967,12.047 C10.5877,12.053 10.5807,12.061 10.5727,12.067 C9.8607,12.556 8.9507,12.833 7.8887,12.833 C5.8577,12.833 4.1387,11.457 3.4937,9.605 L0.8747,9.605 L0.8747,11.648 C2.2197,14.319 4.9287,16 7.8887,16"></path>
                            <g transform="translate(0 4)">
                              <mask id="google-mark-b" fill="#fff">
                                <use xlink:href="#google-mark-a"></use>
                              </mask>
                              <path fill="#FBBC04" d="M3.4639,5.5337 C3.1369,4.5477 3.1359,3.4727 3.4609,2.4757 L3.4639,2.4777 C3.4679,2.4657 3.4749,2.4547 3.4789,2.4427 L3.4939,0.3287 L0.8939,0.3287 C0.8799,0.3577 0.8599,0.3827 0.8459,0.4117 C-0.2821,2.6667 -0.2821,5.3337 0.8459,7.5887 L0.8459,7.5997 C0.8549,7.6167 0.8659,7.6317 0.8749,7.6487 L3.4939,5.6057 C3.4849,5.5807 3.4729,5.5587 3.4639,5.5337" mask="url(#google-mark-b)"></path>
                            </g>
                            <mask id="google-mark-d" fill="#fff">
                              <use xlink:href="#google-mark-c"></use>
                            </mask>
                            <path fill="#EA4335" d="M0.894,4.3291 L3.478,6.4431 C4.113,4.5611 5.843,3.1671 7.889,3.1671 C9.018,3.1451 10.102,3.5781 10.912,4.3671 L13.169,2.0781 C11.733,0.7231 9.85,-0.0219 7.889,0.0001 C4.941,0.0001 2.245,1.6791 0.894,4.3291" mask="url(#google-mark-d)"></path>
                          </g>
                          </svg><svg class="w-commerce-commercequickcheckoutmicrosofticon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16">
                          <g fill="none" fill-rule="evenodd">
                            <polygon fill="#F05022" points="7 7 1 7 1 1 7 1"></polygon>
                            <polygon fill="#7DB902" points="15 7 9 7 9 1 15 1"></polygon>
                            <polygon fill="#00A4EE" points="7 15 1 15 1 9 7 9"></polygon>
                            <polygon fill="#FFB700" points="15 15 9 15 9 9 15 9"></polygon>
                          </g>
                          </svg>
                          <div>Pay with browser.</div>
                        </a>
                      </div>
                      <a href="checkout.html" value="Continue to Checkout" data-node-type="cart-checkout-button" bind="582a0a3e-3849-ea1b-e8d1-a87a20433e9c" class="w-commerce-commercecartcheckoutbutton" data-loading-text="Hang Tight...">Continue to Checkout</a>
                    </div>
                  </div>
                </form>
                <div bind="582a0a3e-3849-ea1b-e8d1-a87a20433ea0" style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
                  <div bind="582a0a3e-3849-ea1b-e8d1-a87a20433ea1" class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Before you purchase, please use your email invite to verify your address so we can send order updates.">Product is not available in this quantity.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!--   Currency switcher     -->
      <div class="desk-currency">
        {% form 'currency' %}
        <select name="currency" class="currency-switcher">
          {% for currency in shop.enabled_currencies %}
          {% if currency == cart.currency %}
          <option selected="true">{{currency.iso_code}}</option>
          {% else %}
          <option>{{currency.iso_code}}</option>
          {% endif %}
          {% endfor %}
        </select>
        {% endform %}
        <!--   END - Currency switcher     -->
      </div>
        
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Header",
    "settings": [
		{
		"type" : "text",
		"id": "logo_image",
		"label": "Logo Image",
		"info": "Upload logo image in the files and use the image url in the text box."
	   },
		{
		"type" : "text",
		"id": "logo2_image",
		"label": "Logo 2 Image",
		"info": "Upload logo image in the files and use the image url in the text box."
	   }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
