<div data-w-id="c7d61ce6-cd5a-04f4-7bd0-d200918677bf" class="section-home-scene wf-section">
  <div class="scene-backdrop-wrapper">
    <div class="scene-background-wrapper">
      <img src="{{ section.settings.section_bg }}" loading="lazy" alt="" class="img-scene-background"></div>
    <div class="stage-wrapper">
      <img src="{{ section.settings.section_stage }}" loading="lazy" alt="" class="img-scene-stage"></div>
    <div class="curtain-wrapper">
      <div class="curtain-left">
        <img src="{{ section.settings.curtain_left | img_url: 'master'}}" loading="lazy" sizes="(max-width: 991px) 55vw, 35vw" width="437" srcset="{{ section.settings.curtain_left | img_url: 'master'}} 500w, {{ section.settings.curtain_left | img_url: 'master'}} 800w, {{ section.settings.curtain_left | img_url: 'master'}} 874w" alt="" class="img-full-width">
      </div>
      <div class="curtain-right">
        <img src="{{ section.settings.curtain_right | img_url: 'master'}}" loading="lazy" sizes="(max-width: 479px) 46vw, (max-width: 991px) 45vw, 35vw" srcset="{{ section.settings.curtain_right | img_url: 'master'}} 500w, {{ section.settings.curtain_right | img_url: 'master'}} 800w, {{ section.settings.curtain_right | img_url: 'master'}} 874w" alt="" class="img-full-width">
      </div>
    </div>
  </div>
  <div class="scene-wrapper">
    <div class="scene-content-wrapper">
      <div class="scene-text-wrapper">
        <div style="opacity:1;display:block" class="scene-before-text-wrapper">
          <h3 style="-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="heading-large">{{section.settings.section_heading}}</h3>
          <div style="-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="scene-sub-heading-wrapper">
            <div class="text-size-medium">{{section.settings.section_text}}</div>
          </div>
        </div>
        <div style="display:none;opacity:1" class="scene-after-text-wrapper">
          <h3 style="-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="heading-large">{{section.settings.section_heading}}</h3>
          <div class="scene-after-sub-heading-wrapper">
            <div class="text-size-medium">{{section.settings.section_text1}}</div>
          </div>
        </div>
      </div>
      
      <div class="scene-character-wrapper">
        <div style="display:flex;opacity:0;-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="scene-before-characters-wrapper">
          <div class="character-img">
            <img src="{{ section.settings.curtain_health | img_url: 'master'}}" loading="lazy" alt="" class="img-full-width">
          </div>
        </div>
        <div style="display:none;opacity:1" class="scene-after-characters-wrapper">
          <div class="character-img">
          	<img src="{{ section.settings.curtain_health1 | img_url: 'master'}}" loading="lazy" alt="" class="img-full-width">
          </div>
        </div>
      </div>
      
      <div class="stage-lights-wrapper">
        <div class="light-wrapper left"><img src="https://cdn.shopify.com/s/files/1/0062/3981/3716/files/stage-light-left.svg?v=1649152734" loading="lazy" alt="" class="img-full-width"></div>
        <div class="light-wrapper right"><img src="https://cdn.shopify.com/s/files/1/0062/3981/3716/files/stage-light-right.svg?v=1649152734" loading="lazy" alt="" class="img-full-width"></div>
      </div>
      <div data-w-id="d88f70c0-a6ba-c265-0336-10b554a2b006" class="character-trigger"></div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Health Section",
    "settings": [
		{
          "type": "url",
          "id": "section_bg",
          "label": "Section stage Background"	
    	},
		{
          "type": "url",
          "id": "section_stage",
          "label": "Section stage image",
		  "info": "Stage Image Path"	
    	},
		{
          "type": "image_picker",
          "id": "curtain_left",
          "label": "Curtain Left Image"
    	},
		{
          "type": "image_picker",
          "id": "curtain_right",
          "label": "Curtain Right Image"
    	},
		{
          "type": "text",
          "id": "section_heading",
          "label": "Section Heading"
    	},
		{
          "type": "textarea",
          "id": "section_text",
          "label": "Section Text"
    	},
		{
          "type": "textarea",
          "id": "section_text1",
          "label": "Section Text change Hover"
    	},
		{
          "type": "image_picker",
          "id": "curtain_health",
          "label": "Before Health Image"
    	},
		{
          "type": "image_picker",
          "id": "curtain_health1",
          "label": "After Health Image"
    	}
	],
	"presets": [
		{
		  "name": {
          "en": "Health Section"
  		}
  	  }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
