<div section="home-hero" bind="313052ac-214c-aaca-9b49-a707cc802d06" class="section-home-hero wf-section">
  <div class="home-hero-top-wrapper">
    <div class="page-padding">
      <div class="container-large">
        <div class="home-hero-wrapper">
          <h1 option:text="home-heading-hero" class="heading-large">{{section.settings.section_title}}</h1>
          <div class="hero-sub-heading-wrapper">
            <h2 option:textarea="home-hero-paragraph" class="text-size-medium">{{section.settings.section_tagline}}</h2>
          </div>
          <a option:url="cta-link" href="{{section.settings.btn_link}}" class="button w-button">{{section.settings.btn_title}}<br></a>
        </div>
      </div>
    </div>
  </div>
  <div class="home-hero-bottom-wrapper">
    <div class="background-img-wrapper flex">
      <div class="hero-product-bg-left"></div>
      {% if section.settings.section_image %}
      <div class="hero-product-img-wrapper">
        <img src="{{ section.settings.section_image | img_url: 'master' }}" loading="eager" sizes="100vw" srcset="{{ section.settings.section_image | img_url: 'master' }} 500w, {{ section.settings.section_image | img_url: 'master' }} 800w, {{ section.settings.section_image | img_url: 'master' }} 1080w, {{ section.settings.section_image | img_url: 'master' }} 1600w, {{ section.settings.section_image | img_url: 'master' }} 1832w" alt="" class="img-full-width hide-tablet">
        <img src="{{ section.settings.section_image | img_url: 'master' }}" loading="lazy" sizes="100vw" srcset="{{ section.settings.section_image | img_url: 'master' }} 500w, {{ section.settings.section_image | img_url: 'master' }} 800w, {{ section.settings.section_image | img_url: 'master' }} 1003w" alt="" class="img-full-width show-tablet">
        <div class="image-cover-top"></div>
      </div>
      {% endif %}
      <div class="hero-product-bg-right"></div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hero Section",
    "settings": [
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title"
    	},
		{
          "type": "textarea",
          "id": "section_tagline",
          "label": "Section Tag Line"
    	},
		{
          "type": "text",
          "id": "btn_title",
          "label": "Button Title",
		  "default": "Shop Now"
    	},
		{
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
    	},
		{
          "type" : "image_picker",
          "id": "section_image",
          "label": "Section Image"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
