<div class="section-whats-inside wf-section">
  <img src="{{ section.settings.section_bg | img_url: 'master' }}" loading="lazy" sizes="100vw" srcset="{{ section.settings.section_bg | img_url: 'master'}} 500w, {{ section.settings.section_bg | img_url: 'master'}} 1440w" alt="" class="upper-rough-edges">
  <div class="page-padding">
    <div class="container-large">
      <div class="whats-inside-wrapper-heading">
        <h3 option:text="products-page-what&#x27;s-inside" class="heading-xlarge text-color-cream">{{section.settings.section_heading}}</h3>
        <div bind="cf3fffc2-6520-4191-da21-6469d86a3067" class="what-s-inside-list-wrapper w-dyn-list">
          <div bind="cf3fffc2-6520-4191-da21-6469d86a3068" role="list" class="what-s-inside-list-collection w-dyn-items">
            <div bind="cf3fffc2-6520-4191-da21-6469d86a3069" role="listitem" class="whats-inside-item w-dyn-item">
              <div class="what-s-inside-heading-subtext-wrapper">
                
                {% for block in section.blocks %}
                {% if block.type == 'ingredients'%}
                <div data-w-id="cf3fffc2-6520-4191-da21-6469d86a306b" class="inside-content-wrapper">
                  <div bind="cf3fffc2-6520-4191-da21-6469d86a306c" class="heading-medium underlined">{{block.settings.section_title}}</div>
                  <div style="display:none;opacity:0;-webkit-transform:translate3d(0, -20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="hover-interacion">
                    <img src="{{ section.settings.section_arrow | img_url: 'master' }}" loading="lazy" alt="" class="image-39">
                    <div bind="cf3fffc2-6520-4191-da21-6469d86a306f" class="text-size-medium dark-brown centered">{{block.settings.section_dec}}</div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
<!--                 <div data-w-id="cf3fffc2-6520-4191-da21-6469d86a306b" class="inside-content-wrapper">
                  <div bind="cf3fffc2-6520-4191-da21-6469d86a306c" class="heading-medium underlined">{{section.settings.section_title1}}</div>
                  <div style="display:none;opacity:0;-webkit-transform:translate3d(0, -20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="hover-interacion">
                    <img src="{{ section.settings.section_arrow | img_url: 'master' }}" loading="lazy" alt="" class="image-39">
                    <div bind="cf3fffc2-6520-4191-da21-6469d86a306f" class="text-size-medium dark-brown centered">{{section.settings.section_dec1}}</div>
                  </div>
                </div> -->
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Ingredients Section",
    "settings": [
		{
          "type": "image_picker",
          "id": "section_bg",
          "label": "Section Background Roughedges"	
    	},
		{
          "type": "text",
          "id": "section_heading",
          "label": "Section Heading"
    	},
		{
          "type": "image_picker",
          "id": "section_arrow",
          "label": "Ingredients Arrow Icon"
    	}
	],
	  "blocks": [
     {
       "name": "Add Ingredients",
       "type": "ingredients",
       "settings": [
        {
          "type": "text",
          "id": "section_title",
          "label": "Ingredients Title"
    	},
		{
          "type": "textarea",
          "id": "section_dec",
          "label": "Ingredients Text"
    	}
       ]
     }
   ],
	"presets": [
      {
        "name": {
        "en": "Ingredients Section"
		  }
	  }
  	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
