<div class="section-fuels-yourbrain cc-relative wf-section" style="background-color: {{ section.settings.advantage_bg_color }};">
  <div class="bg-image-wrapper">
    <div class="bg-wrapper">
      <img src="{{ section.settings.section_bg | img_url: 'master' }}" sizes="(max-width: 991px) 100vw, (max-width: 1432px) 98vw, 1404px" srcset="{{ section.settings.section_bg | img_url: 'master' }} 500w, {{ section.settings.section_bg | img_url: 'master' }} 800w, {{ section.settings.section_bg | img_url: 'master' }} 1080w, {{ section.settings.section_bg | img_url: 'master' }} 1404w" alt="" class="bg-image-lionsmane">
      <div class="birds-eye-view-repeater"></div>
    </div>
  </div>
  <div class="container-medium">
    <div class="page-padding">
      <div class="fuel-content-wrapper">
        <div class="fuels-text-content-wrapper cc-relative">
          {% assign advantages_block = section.blocks | where: 'type', 'advantages_block' %}
          {% for block in advantages_block %}
          <div class="fuels-text-wrapper">
            <div class="heading-wrapper">
              <h1 option:text="fuel-overlay-heading" class="heading-medium text-color-cream">{{ block.settings.advantages_title }}</h1>
            </div>
            <div class="subheading-wrapper">
              <p option:textarea="fuel-overlay-text" class="text-size-medium">{{ block.settings.advantages_text }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  @media screen and (max-width: 767px){
    .section-fuels-yourbrain .cc-relative .wf-section {
      background-color: {{ section.settings.advantage_bg_color }};
    }
   	.section-fuels-yourbrain .heading-medium.text-color-cream ,.section-fuels-yourbrain .subheading-wrapper{
      color: {{ section.settings.text_color_mobile }};
    }
  }
  
</style>
{% schema %}
  {
    "name": "Advantages Section",
    "settings": [
		{
          "type": "color",
          "id": "text_color_mobile",
          "label": "Add text Color for Mobile Text Only",
		  "default" : "#372C23"
    	},
		{
          "type": "color",
          "id": "advantage_bg_color",
          "label": "Section Background Color For Mobile"	
    	},
		{
          "type": "image_picker",
          "id": "section_bg",
          "label": "Section Background Image"	
    	}
	],
	"blocks": [
      {
        "type": "advantages_block",
        "name": "Advantages Block",
        "settings": [           
          {
            "type": "text",
            "id": "advantages_title",
            "label": "Advantages Title"
          },
	      {
            "type": "textarea",
            "id": "advantages_text",
            "label": "Advantages Text"
          }
      	]
      }
	],
	"presets": [
      {
        "name": {
        "en": "Advantages Section"
		  }
	  }
  	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
