<div id="mct-powder-unflavored" class="section-mct-powder-unflavored wf-section">
  <div class="page-padding">
    <div class="container-xlarge">
      
      <div class="hero-section-wrapper">
        <div class="hero-content-flex hero-product">
          <div class="hero-product__media">
            <div class="product-slider-wrap">
              <div class="product-slide-nav _3-circle-image-wrapper">
                {% for image in product.images %}
                <div class="circle-image-wrapper">
                  <img src="{{image | img_url : 'master'}}" alt="" loading="lazy" bind="3a6135b0-6fd4-4a74-cd2a-fb38dc235e0c" class="circle-image">
                </div>
                {%endfor%}
              </div>

              {%if product.images.size > 1%}
              <div class="product-slider hero-main-image-wrapper">
                {% for image in product.images %}
                <div class="product-slide">
                  <img src="{{image | img_url : 'master'}}" loading="lazy" bind="2d20e309-230d-ee1d-caf1-c0fbf7e868bd" alt="" class="img-full-width fit-contain">
                </div>
                {%endfor%}
              </div>
              {%endif%}
            </div>
          	</div>
          <div class="hero-main-products-details-wrapper hero-product__content">
            <div class="content-wrapper-products">
              <h1 item="title" liquid:object="product.metafields.accentuate.sectionproductname" bind="bfc6db84-9535-365f-f92d-6cdc203cca68" class="heading-medium">{{ product.title | escape }}</h1>
              
              <div class="review-wrapper">
                <div class="star-wrapper"><img src="images/star_icon_yellow.png" loading="lazy" width="40" html:attribute="src|{{ product.metafields.accentuate.sectioniconsstar }};alt|{{ product.metafields.accentuate.sectionstaronealt }}" alt="" class="star first"><img src="images/star_icon_yellow.png" loading="lazy" html:attribute="src|{{ product.metafields.accentuate.sectioniconsstar }};alt|{{ product.metafields.accentuate.sectionstaronealt }}" alt="" class="star"><img src="images/star_icon_yellow.png" loading="lazy" html:attribute="src|{{ product.metafields.accentuate.sectioniconsstar }};alt|{{ product.metafields.accentuate.sectionstaronealt }}" alt="" class="star"><img src="images/star_icon_yellow.png" loading="lazy" html:attribute="src|{{ product.metafields.accentuate.sectioniconsstar }};alt|{{ product.metafields.accentuate.sectionstaronealt }}" alt="" class="star"><img src="images/star_icon_yellow.png" loading="lazy" html:attribute="src|{{ product.metafields.accentuate.sectioniconsstarempty }};alt|{{ product.metafields.accentuate.sectionstaremptyalt }}" alt="" class="star cc-opacity"></div>
                <div class="review-text-warpper">
                  <div option:textarea="product-page-reviews" liquid:object="product.metafields.accentuate.sectionproductreviews" class="text-size-regular text-opacity">4.2 (37 reviews)Write a review</div>
                </div>
              </div>
              {{ product.description }}
              
              
              <p item="description" liquid:object="product.metafields.accentuate.sectionproductdescription" bind="ffb70b4f-2afa-6caa-3779-d9ed3a72444a" class="text-size-large-bold">{{ product.price | money }} / bag</p>
              <div bind="bfc6db84-9535-365f-f92d-6cdc203cca7f" class="addtocart-input products">
                {%- form 'product', product, id: product_form_id, class: 'form w-commerce-commerceaddtocartform default-state-2', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                <form method="post" action="/cart/add" class="w-commerce-commerceaddtocartform default-state-2" data-node-type="commerce-add-to-cart-form" template-bind="bfc6db84-9535-365f-f92d-6cdc203cca80" position-bind-position="prepend" bind="bfc6db84-9535-365f-f92d-6cdc203cca80">
                  <label for="quantity-9dd9ed1a1f4325b5665023740a7d1be-5" position-id="bfc6db84-9535-365f-f92d-6cdc203cca88" bind="bfc6db84-9535-365f-f92d-6cdc203cca88" class="field-label-2">Quantity</label>
                  <div class="quanity-text-field-wrapper">
                    <input min="1" type="number" id="quantity" name="quantity" value="1" pattern="^[0-9]+$" inputmode="numeric" position-id="bfc6db84-9535-365f-f92d-6cdc203cca8a" bind="bfc6db84-9535-365f-f92d-6cdc203cca8a" class="w-commerce-commerceaddtocartquantityinput quantity-2"/>
                    <div class="embed-arrow-left w-embed">
                      <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 5.88L11.2312 12L17 18.12L15.224 20L7.66667 12L15.224 4L17 5.88Z" fill="currentColor"></path>
                      </svg>
                    </div>
                    <div class="embed-arrow-right w-embed">
                      <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" transform="translate(0 24) rotate(-90)" fill="white"></rect>
                        <path d="M7 18.12L12.7688 12L7 5.88L8.77598 4L16.3333 12L8.77598 20L7 18.12Z" fill="currentColor"></path>
                      </svg>
                    </div>
                    <div class="quantity-label mobile">Qty</div>
                    <div class="quantity-label">Quantity</div>
                  </div>
                  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                  <input type="submit" position-id="bfc6db84-9535-365f-f92d-6cdc203cca8b" data-node-type="commerce-add-to-cart-button" data-loading-text="Adding to cart..." value="Add to cart" class="w-commerce-commerceaddtocartbutton add-to-cart-button product" />
                </form>
                {%- endform -%}
                <div bind="bfc6db84-9535-365f-f92d-6cdc203cca8d" style="display:none" class="w-commerce-commerceaddtocartoutofstock">
                  <div>This product is out of stock.</div>
                </div>
                <div bind="bfc6db84-9535-365f-f92d-6cdc203cca90" data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror">
                  <div bind="bfc6db84-9535-365f-f92d-6cdc203cca91" data-node-type="commerce-add-to-cart-error" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription." data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site." data-w-add-to-cart-select-all-options-error="Please select an option in each set.">Product is not available in this quantity.</div>
                </div>
              </div>
            </div>
            {% if section.settings.show_bedge == true %}
            <div class="stamp-wrapper">
              <img src="https://cdn.shopify.com/s/files/1/0062/3981/3716/files/tffcstamp.png?v=1649340823" loading="lazy" width="159" option:image="product-stamp-img" alt="" class="stamp">
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      
      <div class="container-large">
        <div class="icons-wrapper">
          {% assign features_block = section.blocks | where: 'type', 'features_block' %}
          {% for block in features_block %}
          <div class="hero-benefits-wrapper">
            <div class="naturefriendly-icons-wrapper">
              <img src="{{ block.settings.features_image | img_url: 'master' }}" loading="lazy" alt="" class="nature-friendly-icons">
            </div>
            <div class="heading-small">{{ block.settings.features_text }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
      
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product Cover",
	"max_blocks": 6,
    "settings": [
		{
          "type": "checkbox",
          "id": "show_bedge",
          "label": "Show Bedge"
        }
	],
	"blocks": [
      {
        "type": "features_block",
        "name": "Features Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "features_image",
            "label": "Features Icon"
          },            
          {
            "type": "text",
            "id": "features_text",
            "label": "Features Text"
          }
      	]
      }
	],
	"presets": [
      {
        "name": {
        "en": "Product Cover"
		  }
	  }
  	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
