<div class="section-how-to-use-it wf-section">
  <div class="page-padding">
    <div class="container-large">
      <div class="howto-content-wrapper">
        <div class="heading-content-wrapper">
          <div class="heading-mixin-wrapper">
            <div class="heading-wrapper-use">
              <h3 class="heading-large font-size-72px">{{section.settings.section_heading}}</h3>
            </div>
          </div>
          <div class="mix-in-wrapper">
            {% assign user_block = section.blocks | where: 'type', 'user_block' %}
            {% for block in user_block %}
            <div class="cms-how-to-use-it">
              <div bind="a20f9771-4228-8418-7eae-be9673f901fa" class="heading-small spacing first-item">{{block.settings.section_title}}</div>
              <div class="image-howto-wrapper">
                <img loading="lazy" bind="a20f9771-4228-8418-7eae-be9673f901fc" src="{{ block.settings.section_image }}" alt="" class="slide-image first-icon">
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="mix-in-wrapper mobile-visible">
            <div data-delay="4000" data-animation="slide" class="howtouseit-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" fs-cmsslider-element="slider">
              <div class="howtouseit-mask w-slider-mask">
                {% assign user_block = section.blocks | where: 'type', 'user_block' %}
	            {% for block in user_block %}
                <div class="how-slide-item w-slide">
                  <div class="how-touse-textcontent">
                    <div class="text-wrapper-item">
                      <div class="heading-small">{{block.settings.section_title}}</div>
                      <img loading="lazy" src="{{ block.settings.section_image }}" alt="" class="slider-image">
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="left-arrow w-slider-arrow-left">
                <div class="arrow-icons-hide w-icon-slider-left"></div>
              </div>
              <div class="w-slider-arrow-right">
                <div class="arrow-icons-hide w-icon-slider-right"></div>
              </div>
              <div class="how-touse-slide-nav w-slider-nav w-round"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "User Guide",
    "settings": [
		{
          "type": "text",
          "id": "section_heading",
          "label": "Section Heading"
    	}
		
	],
	"blocks": [
        {
          "type": "user_block",
          "name": "User Block",
          "settings": [
            {
              "type": "text",
              "id": "section_title",
              "label": "Section Title"
            },
            {
              "type": "url",
              "id": "section_image",
              "label": "Section Image Url"
            }
          ]
        }
	],
	"presets": [
      {
        "name": { 
        "en": "User Guide"
		  }
	  }
  	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
