<div class="section-why-should wf-section">
  <div class="page-padding">
    <div class="container-large">
      <div class="why-should-wrapper">
        <div class="why-shoud-header-wrapper">
          <div class="why-should-heading-wrapper">
            <h3 option:text="products-why-heading" class="heading-large align-center">{{section.settings.section_heading}}</h3>
          </div>
        </div>
        {% assign product_advantages = section.blocks | where: 'type', 'product_advantages' %}
        {% for block in product_advantages %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        <div class="why-should-wrappers {% if thecycle == 'even' %}reverse{% endif %}">
          {% if block.settings.section_image != blank or block.settings.section_svg != blank%}
          <div class="image-why-wrapper">
            <img loading="lazy" bind="4105ec9d-9082-e435-c240-14f3ac549d55" src="{% if block.settings.section_svg != blank %}{{ block.settings.section_svg }}{% else %}{{ block.settings.section_image | img_url: 'master' }}{% endif %}" alt="" class="character-icons">
          </div>
          {% endif %}
          <div class="why-content-wrapper {% if thecycle == 'even' %}align-left {% else %}padding-left {% endif %}">
            <div class="why-heading-wrapper">
              <h3 bind="4105ec9d-9082-e435-c240-14f3ac549d51" class="heading-medium text-color-cream">{{ block.settings.section_title }}</h3>
            </div>
            <div class="why-text-wrapper">
              <p bind="4105ec9d-9082-e435-c240-14f3ac549d53" class="text-size-medium text-color-cream">{{ block.settings.section_text }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% if section.settings.section_waves != blank %}
  <img src="{{ section.settings.section_waves | img_url: 'master' }}" loading="lazy" sizes="100vw" srcset="{{ section.settings.section_waves | img_url: 'master' }} 500w, {{ section.settings.section_waves | img_url: 'master' }} 800w, {{ section.settings.section_waves | img_url: 'master' }} 1440w" alt="" class="vector-wave-why-should">
  {% endif %}
</div>

{% schema %}
  {
    "name": "Why Use Section",
    "settings": [
		{
          "type": "text",
          "id": "section_heading",
          "label": "Section Heading"
    	},
		{
          "type": "image_picker",
          "id": "section_waves",
          "label": "Section Waves Image"	
    	}
	],
	"blocks": [
        {
          "type": "product_advantages",
          "name": "Product Advantages",
          "settings": [           
			{
              "type": "url",
              "id": "section_svg",
              "label": "Section Image"	
            },
			{
              "type": "image_picker",
              "id": "section_image",
              "label": "Section Image"	
            },
            {
              "type": "text",
              "id": "section_title",
              "label": "Section Title"
            },
			{
              "type": "textarea",
              "id": "section_text",
              "label": "Section Text"
            }
          ]
        }
	],
	"presets": [
      {
        "name": { 
        "en": "Why Use Section"
		  }
	  }
  	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
